.lol{
    display: flex;
    justify-content: center;
    max-width: 1900px;
}
.asd{
    width: 25vw;
    height: 100vh; 
    transition:transform 0.8s ease;  
}
.container{
    margin: 0 auto;
}
.transform1{
    width: 40vw;
}
.transform2{
    width: 20vw;
}
#myImage1{
    background-image: url(1736092215_new_preview_mountain-reflections-3840x2400.jpg);
}
#myImage2{
    background-image: url(i.webp)
}
#myImage3{
    background-image: url(i\ \(1\).webp)
}
#myImage4{
    background-image: url(scale_1200.jpg)
}
p{
    color: white;
    font-size: 48px;
}
.text{
    display: none;
}
.textVisible{
    display: block;
}