.lol{
    display: flex;
    justify-content: center;
    max-width: 1900px;
}
.asd{
    width: 25vw;
    height: 100vh; 
    transition:transform 0.8s ease;  
}
.container{
    margin: 0 auto;
}
.transform1{
    width: 40vw;
}
.transform2{
    width: 20vw;
}
